@import "./base/base";
@import "./components/navbar.scss";
@import "./pages/index.scss";
@import "./pages/dragon.scss";
@import "./pages/falcon-heavy.scss";
@import "./pages/falcon-9.scss";
@import "./pages/star-ship.scss";

@media (max-width: 768px) {
  .title > h1 {
    font-size: 50px;
    margin: auto;
  }

  .background-black {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  }

  .video-description {
    text-align: center;
  }

  .video > iframe {
    width: 90%;
  }

  .news {
    margin-left: 34px;
  }
}
@media (max-width: 480px) {
  .title > h1 {
    font-size: 50px;
    margin: auto;
  }

  .background-black {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .video-description {
    text-align: center;
  }

  .video > iframe {
    width: 90%;
  }

  .news {
    margin-left: 34px;
  }
}
